* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

nav {
  position: relative;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
}
nav .navbar-navigation-left {
  margin-left: 30px;
}
nav .navbar-navigation-right {
  margin-right: 30px;
}
nav .navbar-navigation-right ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2rem;
}
nav .navbar-navigation-right ul li {
  padding: 0 1rem;
}

main {
  margin-top: 2.5rem;
}
main .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 100px;
}
main .bluebox {
  grid-column: 1/-1;
  grid-row: 3/10;
  z-index: -1;
}
main .article-left {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/-1;
  margin-left: 30px;
}
main .article-left img {
  z-index: 30;
}
main .article-left .rectangle {
  position: absolute;
  top: 3rem;
  left: 5rem;
  z-index: -1;
}
main .article-left p {
  position: absolute;
  top: 41rem;
  left: 5rem;
  width: 80%;
}
main .article-middle {
  grid-row: 1/-1;
  grid-column: 2/3;
  position: relative;
}
main .article-middle h1 {
  position: absolute;
  top: 20rem;
  left: 8rem;
}
main .article-middle h2 {
  position: absolute;
  top: 22rem;
  left: 7rem;
}
main .article-right {
  grid-row: 1/-1;
  grid-column: 3/4;
  position: relative;
}
main .article-right p {
  width: 70%;
  position: absolute;
}
main .article-right img {
  position: absolute;
  top: 8rem;
}

.section-first {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  margin-bottom: 8rem;
}
.section-first .text {
  grid-column: 1/2;
  grid-row: 2/6;
  margin-left: 30px;
}
.section-first .text h3 {
  margin-bottom: 2rem;
}
.section-first .image {
  grid-column: 2/3;
  grid-row: 1/6;
  margin-right: 30px;
  position: absolute;
}

.section-second .bluebox {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
}
.section-second .bluebox img {
  position: absolute;
  top: 16rem;
  z-index: 1;
}
.section-second .bluebox .article-left {
  position: relative;
  margin-left: 30px;
  grid-column: 1/2;
  grid-row: 2/-1;
}
.section-second .bluebox .article-left .blue {
  width: 75%;
}
.section-second .bluebox .article-left h3 {
  position: absolute;
  top: 30rem;
  width: 60%;
}
.section-second .bluebox .article-left .grey {
  position: absolute;
  top: 45rem;
  width: 70%;
}
.section-second .bluebox .article-middle {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/-1;
}
.section-second .bluebox .article-middle img {
  position: absolute;
  top: 0rem;
}
.section-second .bluebox .article-right {
  grid-column: 3/4;
  grid-row: 2/10;
}
.section-second .bluebox .article-right p {
  width: 70%;
  margin-bottom: 1.5rem;
}
.section-second .bluebox .article-right img {
  position: absolute;
  top: 28rem;
}

.section-third {
  margin-top: 32rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
}
.section-third .bluebox {
  position: absolute;
  top: 7rem;
}
.section-third .article-left {
  position: absolute;
  margin-left: 30px;
  grid-column: 1/2;
}
.section-third .article-left h3 {
  width: 60%;
  margin-bottom: 4rem;
}
.section-third .article-middle {
  position: absolute;
  grid-column: 2/3;
}
.section-third .article-middle p {
  width: 70%;
}
.section-third .article-middle img {
  position: absolute;
  top: 30rem;
}
.section-third .article-right {
  position: absolute;
  grid-column: 3/4;
}
.section-third .article-right img {
  position: absolute;
  top: 5rem;
  left: 2.4rem;
}
.section-third .article-right p {
  position: absolute;
  top: 40rem;
}

.section-four {
  margin-top: 55rem;
}

.section-five img {
  margin-left: 25%;
  margin-top: 10%;
}

.section-six {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
}
.section-six .article-left {
  grid-column: 1/2;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-six .article-left h3 {
  position: absolute;
  top: 8rem;
}
.section-six .article-left p {
  position: absolute;
  top: 13rem;
}
.section-six .article-right {
  grid-column: 2/3;
  grid-row: 3/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section-six .article-right .input {
  padding-left: 1rem;
}
.section-six .article-right .textarea {
  padding-left: 1rem;
  padding-top: 1rem;
}

nav img {
  width: 162px;
  height: 80px;
}
nav ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.5px;
}
nav ul li {
  list-style-type: none;
}

main .bluebox {
  width: 100%;
  height: 480px;
  background-color: #DFE8EC;
}
main img {
  width: 380px;
  height: 568px;
}
main p {
  color: #808080;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}
main h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
}
main h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 1.5px;
  font-weight: 700;
}
main .rectangle {
  width: 323px;
  height: 547px;
  border: 4px solid #6B7B83;
}

.section-first h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: auto;
  letter-spacing: 1px;
}
.section-first p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #808080;
  width: 75%;
}
.section-first img {
  width: 600px;
  height: 430px;
}

.section-second .bluebox {
  width: 100%;
  height: 500px;
  background-color: #6B7B83;
}
.section-second .bluebox img {
  width: 370px;
  height: 330px;
}
.section-second .article-left .blue {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #B8C9D3;
}
.section-second .article-left h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: auto;
  letter-spacing: 1px;
}
.section-second .article-left .grey {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #808080;
}
.section-second .article-middle img {
  width: 344px;
  height: 700px;
}
.section-second .article-right p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #B8C9D3;
}
.section-second .article-right img {
  width: 300px;
  height: 435px;
}

.section-third .bluebox {
  width: 100%;
  height: 550px;
  background-color: #DFE8EC;
}
.section-third .article-left h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: auto;
  letter-spacing: 1px;
}
.section-third .article-left img {
  width: 307px;
  height: 568px;
}
.section-third .article-middle p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #808080;
}
.section-third .article-middle img {
  width: 280px;
  height: 350px;
}
.section-third .article-right .rectangle {
  width: 287px;
  height: 533px;
  border: 4px solid #6B7B83;
}
.section-third .article-right img {
  width: 275px;
  height: 423px;
}
.section-third .article-right p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #808080;
}

.section-four {
  background: url(../images/pexelsphoto732499.jpg) no-repeat center center/cover;
  width: 100%;
  height: 750px;
}

.section-five {
  background-color: #6B7B83;
  width: 100%;
  height: 490px;
}
.section-five img {
  width: 644px;
  height: 312px;
}

.section-six {
  background-color: #DFE8EC;
  width: 100%;
  height: 596px;
}
.section-six h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: auto;
  letter-spacing: 1px;
}
.section-six p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #808080;
  width: 15%;
  text-align: center;
}
.section-six .input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 425px;
  height: 55px;
}
.section-six .textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 425px;
  height: 121;
}
.section-six button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  border-width: 0;
  background-color: #6B7B83;
  cursor: pointer;
  width: 139px;
  height: 55px;
}

/*# sourceMappingURL=main.css.map */
