@use 'base' as *;

nav{
    img{
        width: 162px;
        height: 80px;
    }
    ul{
        @include robotoRegular;
        li{
            list-style-type: none;
        }
    }
}

main{

    .bluebox{
        width: 100%;
        height: 480px;
        background-color: $color-first-blue;
    }
    
    img{
        width: 380px;            
        height: 568px;
        
    }
    p{
        color: $color-gray;
        @include paragraphStyle(300);
    }
    h1{
        @include robotoRegular(20px);
    }
    h2{
        @include robotoRegular(48px);
        font-weight: 700;
    }
    .rectangle{
        width: 323px;
        height: 547px;
        border: 4px solid $color-second-blue;
    }
    
}
.section-first{
    h3{
        @include titleStyle;
    }
    p{
        @include paragraphStyle;
        color: $color-gray;
        width: 75%;
    }
    img{
        width: 600px;
        height: 430px;
    }
}
.section-second{

    .bluebox{
        width: 100%;
        height: 500px;
        background-color: $color-second-blue;

        img{
            width: 370px;
            height: 330px;
        }
    }

    .article-left{
        .blue{
            @include paragraphStyle(600);
            color: $color-third-blue;
        }
        h3{
            @include titleStyle;
        }
        .grey{
            @include paragraphStyle;
            color: $color-gray;
        }
    }

    .article-middle{
        img{
            width: 344px;
            height: 700px;
            
        }
    }

    .article-right{

        p{
            @include paragraphStyle(600);
            color: $color-third-blue;
        }
        img{
            width: 300px;
            height: 435px;
        }
    }
}
.section-third{
    .bluebox{
        width: 100%;
        height: 550px;
        background-color: $color-first-blue;
    }
    .article-left{
        h3{
            @include titleStyle;
        }
        img{
            width: 307px;
            height: 568px;
        }
    }
    .article-middle{
        p{
            @include paragraphStyle;
            color: $color-gray;
        }
        img{
            width: 280px;
            height: 350px;
        }
    }
    .article-right{
        .rectangle{
            width: 287px;
            height: 533px;
            border: 4px solid $color-second-blue;
        }
        img{
            width: 275px;
            height: 423px;
        }
        p{
            @include paragraphStyle;
            color: $color-gray;
        }
    }
}
.section-four{
    background: url(../images/pexelsphoto732499.jpg)no-repeat center center/cover;
    width: 100%;
    height: 750px;
}
.section-five{
    background-color: $color-second-blue;
    width: 100%;
    height: 490px;
    img{
        width: 644px;
        height: 312px;
    }
}
.section-six{

    background-color: $color-first-blue;
    width: 100%;
    height: 596px;
    h3{
        @include titleStyle;
    }
    p{
        @include paragraphStyle;
        color: $color-gray;
        width: 15%;
        text-align: center;
    }
    .input{
        @include inputArea;
    }
    .textarea{
        @include inputArea(121);
    }
    button{
        font-family: $font-OpenSans;
        font-weight: 600;
        font-size: 16px;
        color: white;
        border-width: 0;
        background-color: $color-second-blue;
        cursor: pointer;
        width: 139px;
        height: 55px;
        
    }
}