@use 'base' as *;

nav{
    img{
        width: 162px;
        height: 80px;
    }
    ul{
        @include robotoRegular;
        li{
            list-style-type: none;
        }
    }
}

main{

    .bluebox{
        width: 100%;
        height: 480px;
        background-color: $color-first-blue;
    }
    
    img{
        width: 380px;            
        height: 568px;
        
    }
    p{
        color: $color-gray;
        @include paragraphStyle(300);
    }
    h1{
        @include robotoRegular(20px);
    }
    h2{
        @include robotoRegular(48px);
        font-weight: 700;
    }
    .rectangle{
        width: 323px;
        height: 547px;
        border: 4px solid $color-second-blue;
    }
    
}
.section-first{

    h3{
        @include titleStyle;
    }
    p{
        @include paragraphStyle;
        color: $color-gray;
        width: 75%;
    }
    img{
        width: 600px;
        height: 430px;
    }
}

